.App {
  max-width: 800px;
  margin: 0 auto;
}
.word-card {
  background-color: aqua;
  margin: 10px;
  text-align: center;
  align-self: center;
  padding: 20px;
}
.word-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(5, 150px);
  grid-template-rows: repeat(5, 75px);
}
